.profil {
  padding-top: 7rem;
  background-color: #e4e4e4;
}

.projects {
  background-color: #e4e4e4;
}

footer {
  background-color: #1b1b1b;
}

#projects,
#about,
#contact {
  scroll-margin-top: 6rem;
}
